*{

    box-sizing: border-box;

}


/********************************
            General
******************************/

.logo {
    width: 15%;
    height: 25%;
    float: left;
    margin-bottom: 50px;
}

.logo img{
    min-width: 80px;
    min-height: 60px;
    max-width: 100%;
    max-height: 100%;
    margin-left:10%;
    margin-top: 5%;
}

input.submit{
    font-size: 1em;
}

 input {
    padding: 15px;
    text-align: center;
    border: solid 2px #ECE3C2;
    width: 45%;
    font-size: .8em;
    border-radius:2px;
    transition: transform 0.3s;
    max-width: 325px;
    min-width: 200px;
}


input[type=text]:focus{
    outline: none;
    transform: scale(1.1);
}
input[type=email]:focus{
    transform:scale(1.1);
    outline: none;
}

.clearfix{
    content: "";
    clear: both
}



h1{
    font-weight: 100;
    text-transform: uppercase;

}

p.newRecord {
    letter-spacing: normal;
    margin: 0 auto;
    margin-top: 20%;

}

#searchAgain{
    display:none;
}


/*******************************
   Wrapper
********************************/
.wrapper{
    text-align: center;
    margin: 0 auto;
    color:#65C1C1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    min-height: calc(100vh - 16px);/***sticky footer fix**/
}



/* brown block at top of web pages*/
.page-block:before{
    content: "";
    height: 5vh;
    max-width: 100%;
    background-color:#ECE3C2;
    display: block;
}


/*************************************
    buttons and links
**************************************/

a:visited{
    display: none;
}

.wrapper a,
.wrapper a:link,
button,
input.submit{
    color: #65C1C1;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease,
                transform 0.3s;

}

button.submit,
input.submit{
    text-decoration: none; /*** this prevents default box shadowing*/
    border: none;
    margin-top: 10px;
}



.wrapper a:hover,
.wrapper button:hover,
.wrapper input.submit:hover{
    background-color:#65C1C1;
    color:#fff;
 /*   transform: scale(1);*/
}

/**************
    Footer
**************/
footer {

    color:#ECE3C2;
    margin: 0 auto;
    text-align: center;
    font-size: .8em;

}

/************************
input field placeholders
******************************/


::placeholder{
    color: #999999;
}
::-webkit-input-placeholder{
    color: #999999;
}
::-moz-placeholder{
    color: #999999;
}

/***************************************************
 New Employee Form
****************************************************/


.newEmployee input {
    min-width: 150px;
    max-width: 300px;
    display:block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 40%;
    font-size: .8em;
    margin-bottom: 2%;
}

/*over ride the above for save button*/
input.submit{
    font-size: 1em;
}
/* validation message formatting - come back to this*/
:required{
}


/***************************************************
                   search results
****************************************************/

figure{
    display: inline-block;
}


.photo
{
  border: 8px solid #EDE3C2;
  width:150px;
  height:150px;
  margin: 15px;
}

/***************************************************
                   End search results
****************************************************/



.flashContainer{
    width: 65%;
    height: 50%;
    text-align: center;
    display:inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: .8em;
}


.success{
    color: #6DB28A;
}

.fail{
    vertical-align: middle;
    line-height: normal;
    color: #F45B7C;
    border-style: solid;
    border-color: #F45B7C;
    border-width: 1px;
    padding: 8px;
}
